@inherits LayoutComponentBase
@using TaskTracker.Web.Components.UI

<div class="max-w-screen h-screen top-0 left-0 page">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<!-- Контейнер для всплывающих сообщений -->
<ToastContainer />
