@inherits LayoutComponentBase
@using TaskTracker.Web.Components.UI

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<!-- Контейнер для всплывающих сообщений -->
<ToastContainer />
